<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Manasa portal</title>
</head>
<body>
    <h1>Welcome to news portal</h1>
    <img src="{% static "images/bollywood.jpg" %}" alt="not found">
    <link rel="stylesheet" href="{% static "css/demo.css" %}">
    <ul>
        <li><a href="/movies">bollywood news</a></li>
        <li><a href="/sports">sports news</a></li>
        <li><a href="#">collywood news</a></li>

    </ul>
</body>
</html>